.containerHome {
  display: flex;
}

.freeShipping, .price {
  text-align: center;
}

.price {
  font-size: 20px;
  font-weight: 500;
}

.freeShipping {
  color: #00a650;
  font-weight: 700;
}

.card {
  background-color: white;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  margin: 0 30px 40px 0;
  padding: 15px;
  text-decoration: none;
  width: 270px;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  margin: 15px 0;
  width: 100%;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.containerCategories {
  border: 1px solid black;
  border-radius: 10px;
  height: fit-content;
  margin-left: 50px;
  margin-right: 70px;
  padding: 30px;
  width: 280px;
}

.containerCategories ul button {
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  margin: 2px;
  width: 100%;
}

.containerCategories ul:hover {
  background-color: #d6d6d6;
}

.containerCategories h3 {
  margin-bottom: 10px;
  text-align: center;
}
